<div class="container">

  <div class="row">
    <div class="column"><h1 id="title">Text Search App</h1></div>
    <div class="column"><blockquote style="float:right">
      <p><em>Built by Sudipta Banik</em></p>
    </blockquote></div>
  </div>


  <div class="row">
    <div class="spaced"><button class="button button-outline" (click)="make()">Make Trie</button></div>
    <div class="spaced"><button class="button button-outline" (click)="clear()">clear</button></div>
    <div class="spaced"><button class="button button-outline" [disabled]='!made' (click)="toggleTextView()">{{textView ? 'TrieView':'TextView'}}</button></div>
    <div class="spaced" class="ci"><h6>Found {{wordCount}}</h6></div>
  </div>

  <div *ngIf="!made" class="row">
    <textarea placeholder="enter text here" class="wrapped" [(ngModel)]="textData"></textarea>
  </div>





  <div *ngIf="made && textView" class="row">
    <div class="wrapped">
      <span *ngFor="let word of words;let i = index" class="word" [ngClass]="{highlighted: isHighlighted(i)}">{{ word}}</span>
    </div>
  </div>
  <div *ngIf="made && !textView" class="row">
    <div class="wrapper">
      <app-viewtrie [trieNode]="trie.getRoot()"></app-viewtrie>
    </div>
  </div>


  <div *ngIf="textView" id="downFixed">
    <div class="row">
      <input [(ngModel)]="searchedWord" placeholder="search..."/>
      <button class="button spaced" (click)="find()">Find</button>
      <button class="button spaced" (click)="prefixSearch()">Find Partial</button>
      <button class="button spaced" (click)="listAll()">LS</button>
    </div>

  </div>

</div>
